<%- include('partials/header.ejs') %>
<body>
  <div class="container">
    <!-- Topbar should be first in grid layout -->
    <%- include('partials/sidebar.ejs') %>
    <main class="main-content">
      <div class="post-grid">
        <% if (locals.postArr && postArr.length > 0) { %>
          <% postArr.forEach(element => { %>
            <div class="post">
              <div class="dropdown">
                <button class="dropdown-toggle">⋮</button>
                <div class="dropdown-menu">
                  <form action="/edit" method="POST">
                    <input type="hidden" name="element" value="<%= element %>">
                    <button type="submit">Edit</button>
                  </form>
                  <form action="/delete" method="POST">
                    <input type="hidden" name="element" value="<%= element %>">
                    <button type="submit">Delete</button>
                  </form>
                </div>
              </div>
              <!-- <a href="/view-post" class="post-link"> -->
                <form action="/view-post" method="POST" class="post-link">
                    <input type="hidden" name="element" value="<%= element %>">
                    <button type="submit"><%= element %></button>
                  </form>
                <!-- <p><%= element %></p> -->
              </a>
            </div>
          <% }) %>
        <% } else { %>
          <h2>No Post Yet</h2>
          <h2>Start Posting</h2>
        <% } %>
      </div>
    </main>

    <form action="/post" method="POST">
      <button class="add-post" type="submit">+</button>
    </form>
  </div>

  <%- include('partials/footer.ejs') %>
</body>
</html>
