<%- include('partials/header.ejs') %>
<body class="view-post-page">
  <div class="container">
    <%- include('partials/sidebar.ejs') %>

    <main class="main-content">
      <div class="view-post-container">
        <h1 class="view-post-title"><%= name %></h1>
        <div class="view-post-body">
          <p><%= message %></p>
        </div>
      </div>
      <form action="/" method="GET" >
        <button type="submit" class="Goback">Go Back</button>
      </form>
    </main>
  </div>
  <%- include('partials/footer.ejs') %>
</body>
</html>
